@media (max-width:900px) {
    body {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    header {
        display: grid;
        grid-template-columns: 100%;
    }

    .top-head {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    .top-head .contact {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .grid {
        grid-template-columns: repeat(5, 1fr);
    }

    /*Frontend Grid */
    .frontend-content {
        background-color: #FFFFFF;
        border-radius: 12px;
        grid-row-start: 1;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 6;
    }

    /*Hobbies Grid */
    .hobbies-content {
        background-color: #FFFFFF;
        border-radius: 12px;
        grid-row-start: 16;
        grid-row-end: 28;
        grid-column-start: 1;
        grid-column-end: 6;
    }

    /*Blog Grid */
    .Blog-content {
        background-color: #FFFFFF;
        border-radius: 12px;
        grid-row-start: 6;
        grid-row-end: 16;
        grid-column-start: 1;
        grid-column-end: 6;
    }

    .Blog-content .top {
        margin: 1rem;
    }

    .Blog-content .top .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .Blog-content .top .blogs img {
        margin-top: 1rem;
        border-radius: 12px;
    }

    .Blog-content .bottom .section1,
    .Blog-content .bottom .section2 {
        width: 100%;
    }

    /*Experience Grid */
    .Experience-content {
        background-color: #FFFFFF;
        border-radius: 12px;
        grid-row-start: 28;
        grid-row-end: 34;
        grid-column-start: 1;
        grid-column-end: 6;
    }

    .experience img {
        width: 70%;
    }

    /*Projects Grid */
    .projects .project-section {
        flex-direction: column;
    }

    .projects .project-section .project {
        margin-bottom: 1rem;
    }

    .list {
        grid-template-columns: 1fr;
    }

    /*Pages */
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pages a,
    .pages .dots {
        padding: 0.5rem 0.85rem;
    }
}